<div class="container mt-5">
  <div class="alert alert-danger text-center">
    <h1 style="font-size: 100px;">404</h1>
    <p class="lead" style="font-size: 24px;">The page you were looking for was
      not found.</p>
    <div>
      <a class="btn btn-primary btn-lg p-3 my-4" href="/">Return to Home Page</a>
    </div>
  </div>
</div>