<title>Web Chat</title>

{{#if username}}
<div class="chat-page mt-3">
    <div class="chat-container" id="messages"></div>   
     
    <div class="container mt-3">
        <form id="form">
        <input id="message" autocomplete="off" placeholder="&nbsp;Write your message" class="message-area">
        </form>
    </div>
            
    {{else}}
    <div class="container mt-5">
        <h1>Please login!</h1>
    </div>
    {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/message.js"></script>
<script>const userName = "{{ username }}";</script>
