<title>Home</title>

<div class="container mt-5">
    <div class="container main-page-container">
        <h1 class="display-4">Welcome to the chat web app</h1>
        <p class="lead">This repo is an example of a simple chat website application built using node.js.</p>
        <hr class="my-4">
        <p>You can follow me on GitHub and LinkedIn.</p>
        <div>
            <a class="btn btn-primary btn-lg" href="https://github.com/kaansrflioglu" target="_blank" role="button">
                <img src="assets/github.png" width="32" height="32">
                GitHub
            </a>
            <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/kaansereflioglu/" target="_blank"
                role="button">
                <img src="assets/linkedin.png" width="32" height="32">
                Linkedin
            </a>
        </div>

    </div>
</div>